/* 내부컨텐츠 라인 */
#portfolio,#project,#interview{
    width: 2000px;
    height: 100vh;
}
/* 최상단 헤더 */
.navbar{
    width: 100%;
    background-color: #ffffff;
    height: 50px;
}
.navbar .header{
    width: 2000px;
}
#hd .nav{
    width: 60px;
    height: 36px;
}
#hd .nav a img{
    height:2rem;
}
.navbar .gnb{
    width: 600px;
}
.navbar .gnb li a:hover{
    color: #ffc0cb;
}
.navbar .header .nav a img,
.navbar .header .gnb li a{
    line-height: 50px;
}

/* portfolio, section_1 */
/* #portfolio{
    height: 100vh;
    width: 100%;
} */
.hanbi_character img{
    height: 30em;
}

/* project, section_2 */

/* #project{
    height: 100vh;
    width: 100%;
} */
#project .hyundaiwia a img,
#project .facemapping a img,
#project .brita a img,
#project .fleur a img{
    width: 300px;
    height: 80vh;
    vertical-align: middle;
}
.section_2 .box a:hover::before{
    opacity: 1;
    visibility: visible;
}
.hyundaiwia .img_01 a::before{
    content: '피그마 작업화면으로 이동하기';
    text-align: center;
    color: #ffffff;
    width: 300px;
    height: 80vh;
    background-color: #00000040;
    background-size: 100%;
    position: absolute;
    top: 111.43%; bottom: 0; left: 440px;
    /* margin: -17px 0 0 -26px; */
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.facemapping .img_02 a::before{
    content: '피그마 작업화면으로 이동하기';
    text-align: center;
    color: #ffffff;
    width: 300px;
    height: 80vh;
    background-color: #00000040;
    background-size: 100%;
    position: absolute;
    top: 111.43%; bottom: 0; left: 900px;
    /* margin: -17px 0 0 -26px; */
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.brita .img_03 a::before{
    content: '피그마 작업화면으로 이동하기';
    text-align: center;
    color: #ffffff;
    width: 300px;
    height: 80vh;
    background-color: #00000040;
    background-size: 100%;
    position: absolute;
    top: 111.43%; bottom: 0; left: 1360px;
    /* margin: -17px 0 0 -26px; */
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.fleur .img_04 a::before{
    content: '피그마 작업화면으로 이동하기';
    text-align: center;
    color: #ffffff;
    width: 300px;
    height: 80vh;
    background-color: #00000040;
    background-size: 100%;
    position: absolute;
    top: 111.43%; bottom: 0; left: 1820px;
    /* margin: -17px 0 0 -26px; */
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/* #project .hyundai_t::before{
    top: 50%; bottom: 100%; left: 16.48%; right: 80%;
    width: 300px;
    height: 80vh;
    transform: translate(-50%, -50%);
    background-color: #00000040;
    color: #fff;
    content: "";
} */
/* #project .facemapping_t::before{
    top: 50%; bottom: 100%; left: 38.82%; right: 80%;
    width: 300px;
    height: 80vh;
    transform: translate(-50%, -50%);
    background-color: #00000040;
    color: #fff;
    content: "";
} */
/* #project .brita_t::before{
    top: 50%; bottom: 100%; left: 61.18%; right: 80%;
    width: 300px;
    height: 80vh;
    transform: translate(-50%, -50%);
    background-color: #00000040;
    color: #fff;
    content: "";
} */
/* #project .fleur_t::before{
    top: 50%; bottom: 100%; left: 83.51%; right: 80%;
    width: 300px;
    height: 80vh;
    transform: translate(-50%, -50%);
    background-color: #00000040;
    color: #fff;
    content: "";
} */




/* interview, section_3 */
/* #interview{
    height: 100vh;
    width: 100%;
} */
.find_team,
.who_am_i{
    background-color: #ffffff;
    width: 600px;
    height: 600px;
    box-sizing: border-box;
    border-radius: 20px;
}
.find_team .question > li,
.who_am_i .question > li{
    display: inline-block;
}
.find_team .question > li span,
.who_am_i .question > li span{
    line-height: 20px;
}
.question > li{
    margin: 40px 0;
}
.answer li{
    margin: 8px 0;
}

/* footer */
