/* 최상단 헤더 */
.navbar{
    width: 2560px;
    background-color: #ffffff;
    height: 50px;
}

#hd .nav a img{
    height:2rem;
}
.navbar #gnb li a:hover{
    color: #ffc0cb;
}
.navbar .header .nav a img,
.navbar .header #gnb li a{
    line-height: 50px;
}

/* portfolio, section_1 */
#portfolio{
    max-height: 700px; /* 데스크탑 전용 기준 700픽셀이상 커지지 마! */
    min-height: 400px;
    height: 100vh; /* 이렇게 하면 끝! 나는 화면 넓이만큼 높이를 줄게 vw = 화면 넓이 단위 */
    width: 1270px;
}
.hanbi_character img{
    height: 30em;
}

/* project, section_2 */

#project{
    max-height: 700px;
    min-height: 400px;
    height: 100vh;
    width: 1270px;
}
#project .hyundaiwia a img,
#project .facemapping a img,
#project .brita a img,
#project .fleur a img{
    height: 30em;
}

/* interview, section_3 */
#interview{
    max-height: 700px;
    min-height: 400px;
    height: 100vh;
    width: 1270px;
}
.find_team,
.who_am_i{
    background-color: #ffffff;
    width: 600px;
    height: 600px;
    box-sizing: border-box;
    border-radius: 20px;
}
.find_team .question > li,
.who_am_i .question > li{
    display: inline-block;
}
.find_team .question > li span,
.who_am_i .question > li span{
    line-height: 20px;
}
.que_img,
.ans_img{
}

/* footer */
